@import "_mixins.scss";
@import "_colors.scss";
@import "_sanitize.scss";
@import "_fonts.scss";
@import "_grid.scss";

/* ------------------- */
/* Base Styles         */
/* ------------------- */

body {
	background-color: $color-background;
	font-family: $font-text;
	border-top: 8px solid $color-pro-green;
}

* {
	font-size: 100%;
	color: $color-text;
}

a {
	text-decoration: none;
}

.closed {
	display: none;
}

h1 {
	font-family: Maple;
}

img {
	width: 100%;
}
