//$color-background: #faf7f5;
$color-background: #f1f3f1;
//$color-background: #fafafa;
//$color-background: white;
$color-pro-green: #c9cec9;
//$color-border: #c8c8c8;
$color-border: #d2d2d2;
$color-text: #1e1e1e;