/* Malabar */

@font-face {
    font-family: 'Malabar';
    src: url('../fonts/malabar/MalabarETW08Regular.eot');
    src: url('../fonts/malabar/MalabarETW08Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/malabar/MalabarETW08Regular.woff') format('woff'),
         url('../fonts/malabar/MalabarETW08Regular.ttf') format('truetype');
    font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'Malabar';
    src: url('../fonts/malabar/MalabarW04Bold.eot');
    src: url('../fonts/malabar/MalabarW04Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/malabar/MalabarW04Bold.woff') format('woff'),
         url('../fonts/malabar/MalabarW04Bold.ttf') format('truetype');
    font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: 'Malabar';
    src: url('../fonts/malabar/MalabarW04Heavy.eot');
    src: url('../fonts/malabar/MalabarW04Heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/malabar/MalabarW04Heavy.woff') format('woff'),
         url('../fonts/malabar/MalabarW04Heavy.ttf') format('truetype');
    font-weight: 900;
	font-style: normal;
}

/* Kootenay */

@font-face {
    font-family: 'Kootenay';
    src: url('../fonts/kootenay/KootenayProRegular.eot');
    src: url('../fonts/kootenay/KootenayProRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kootenay/KootenayProRegular.woff') format('woff'),
         url('../fonts/kootenay/KootenayProRegular.ttf') format('truetype');
    font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'Kootenay';
    src: url('../fonts/kootenay/KootenayProSemibold.eot');
    src: url('../fonts/kootenay/KootenayProSemibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kootenay/KootenayProSemibold.woff') format('woff'),
         url('../fonts/kootenay/KootenayProSemibold.ttf') format('truetype');
    font-weight: 600;
	font-style: normal;
}

@font-face {
    font-family: 'Kootenay';
    src: url('../fonts/kootenay/KootenayProBold.eot');
    src: url('../fonts/kootenay/KootenayProBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kootenay/KootenayProBold.woff') format('woff'),
         url('../fonts/kootenay/KootenayProBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}