.container {
	float: left;
	width: 100%;
}

.block {
    margin: 0 auto;
    width: 100%;
    display: block;
    @include border-box;
	&:after {
		content: " ";
		display: block;
		clear: both;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}
}

@media screen and (min-width: 480px) {

	.block {
		max-width: 750px;
	}

}

@media screen and (min-width: 1024px) {

	.block {
		max-width: 1008px;
	}

}