/* ------------------- */
/* Container           */
/* ------------------- */

#nav {
	.block {
		padding: 0 .75rem;
		@include border-box;
	}
	.row {
		position: relative;
	}
}

.navigation {
    float: left;
    position: relative;
    width: 100%;
    font-size: 1.125rem;
	line-height: 1.5rem;
	font-family: Kootenay;
}

.navigation__nav {
	display: block;
	float: left;
	padding: 1.125rem 0 1.5rem;
	.active {
		font-weight: 700;
	}
}

@media screen and (min-width: 480px) {

	#nav {
		.block {
			padding: 0 8%;
		}
	}

}

@media screen and (min-width: 748px) {

	.navigation__nav {
		padding: 1.875rem 0;
	}

}

/* ------------------- */
/* Logo                */
/* ------------------- */

.logo {
	display: block;
	float: left;
	padding: 1.125rem 0 1.5rem;
	font-weight: 400;
}

@media screen and (min-width: 748px) {

	.logo {
		padding: 1.875rem 0;
	}

}

/* ------------------- */
/* Navigation List     */
/* ------------------- */

.navigation__list {
	position: absolute;
	top: 4.125rem;
}

@media screen and (max-width: 747px) {

	.navigation__list {
		left: 0;
		right: 0;
		background-color: $color-background;
		z-index: 1;
		&.closed {
			display: none;
		}
		a {
			font-family: Malabar;
			font-weight: 900;
			font-size: 2.25rem;
			line-height: 2.25rem;
		}
	}

}

@media screen and (min-width: 748px) {

	.navigation__list {
		position: relative;
		top: 0;
		li {
			float: left;
			margin-left: 1.125rem;
		}
	}

	.navigation__mobile-search {
		display: none;
	}

}

/* ------------------- */
/* Breadcrumb List     */
/* ------------------- */

.navigation__breadcrumb {
	float: left;
	clear: left;
	li {
		float: left;
		position: relative;
		margin-left: 1.125rem;
		&:before {
			content: "›";
			float: left;
			position: absolute;
			left: -.75rem;
		}
	}
}

@media screen and (min-width: 748px) {

	.breadcrumb-enabled {
		.invisible {
			display: none !important;
		}
	}

}

/* ------------------- */
/* Interact Nav        */
/* ------------------- */

.interact__nav {
	position: absolute;
	right: 0;
	padding: 1.125rem 0 1.5rem;
	font-size: 1.125rem;
	line-height: 1.5rem;
	font-family: Kootenay;
	.interact__toggle {
		list-style: none;
		a {
			font-weight: 700;
			text-transform: uppercase;
			color: #73b4da;
		}
	}
	.interact__search {
		display: none;
	}
}

@media screen and (min-width: 748px) {

	.interact__nav {
		padding: 1.875rem 0;
		.interact__toggle {
			display: none;
		}
		.interact__search {
			display: block;
		}
	}

}