/* ------------------- */
/* Mobile Nav          */
/* ------------------- */

.mobile-nav {
	border-bottom: 1px solid $color-border;
	margin-bottom: 1.5rem;
	li {
		font-family: $font-mobile-nav;
		font-size: 1.625rem;
		line-height: 2rem;
		font-weight: $font-mobile-nav-weight;
		border-top: 1px solid $color-border;
		a {
			padding: .75rem;
			display: block;
		}
	}
	&.closed {
		display: none;
	}
}

.mobile-nav__search {
	padding: .75rem;
	background-color: white;
	input[type="search"] {
		width: 100%;
		font-family: $font-mobile-nav;
		font-weight: $font-mobile-nav-weight;
	}
	input[type="submit"] {
		display: none;
	}
}

@media screen and (min-width: 480px) {

	.mobile-nav {
		li {
			a {
				padding: .75rem 8%;
			}
		}
	}

	.mobile-nav__search {
		padding: .75rem 8%;
	}

}

@media screen and (min-width: 748px) {

	.mobile-nav {
		display: none;
	}

}

/* ------------------- */
/* Main Nav            */
/* ------------------- */

.main-nav {
	padding: 1.125rem .75rem;
	font-family: $font-main-nav;
	font-size: 1.125rem;
	line-height: 1.5rem;
	.row {
		position: relative;
		width: 100%;
		float: left;
		@include border-box;
	}
}

.main-nav__list {
	text-align: left;
	.active {
		text-decoration: underline;
	}
}

.main-nav__logo {
	display: inline-block;
	float: left;
}

.main-nav__primary,
.main-nav__breadcrumb {
	display: none;
}

@media screen and (min-width: 480px) {

	.main-nav {
		padding: 1.5rem 0;
		.row {
			padding: 0 8%;
		}
	}

	.main-nav__breadcrumb {
		display: inline-block;
		float: left;
		li {
			margin-left: 1.125rem;
			position: relative;
			float: left;
			&:before {
				content: "›";
				position: absolute;
				left: -.75rem;
			}
		}
	}

}

@media screen and (max-width: 659px) {

	.main-nav__breadcrumb {
		li {
			&:last-child {
				a {
					display: none;
				}
				&:after {
					content: '...';
				}
			}
		}
	}

}

@media screen and (min-width: 660px) {

	.main-nav__breadcrumb li:last-child a {
		display: inline-block;
		width: 250px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

}

@media screen and (min-width: 748px) {

	.main-nav {
		padding: 1.875rem 0;
	}

	.main-nav__primary {
		display: inline-block;
		float: left;
		li {
			margin-left: 1.125rem;
			float: left;
		}
	}

	.main-nav__list--breadcrumb-enabled {
		.hidden {
			display: none;
		}
	}

}

/* ------------------- */
/* Toggle              */
/* ------------------- */

.main-nav__toggle {
	position: absolute;
	right: 0;
	top: 0;
	strong {
		font-weight: 400;
		text-decoration: underline;
	}
}

.main-nav__toggle__search-bar {
	display: none;
}

.main-nav__toggle__mobile-nav {
	list-style: none;
}

@media screen and (min-width: 480px) {

	.main-nav__toggle {
		right: 8%;
	}

}

@media screen and (min-width: 748px) {

	.main-nav__toggle__search-bar {
		display: inline-block;
	}

	.main-nav__toggle__mobile-nav {
		display: none;
	}

}