.search-bar {
	background-color: white;
	border-top: 1px solid $color-border;
	border-bottom: 1px solid $color-border;
}

@media screen and (max-width: 747px) {

	#navigation__search-bar {
		display: none !important;
	}
	
}